*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
    
}
.no-scroll{
    overflow: hidden;
}

a{
    text-decoration: none;
}
/* HEADER */
.header{
    display: flex;
    align-items: center;
    height: 104px;
    border-bottom: 1px solid #d4d4d4;
    padding-left: 34px;
}
.mobile-menu{
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
}
.search-input{
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 38px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
}
.search-input:focus{
    outline-style:dotted ;
}
.navigation{
    margin-right: 44px;
    margin-left: auto;
}
.navigation-link{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}
.navigation-link:after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale(0);
    transition: transform .2s;
}
.navigation-link:hover:after{
    transform: scale(1);
}
.button-group{
    height: 100%;
}
.button{
    height: 100%;
    cursor: pointer;
    outline: none;
}
.sign-up{
    color: #5671F6;
    border:none;
    font-size: 18px;
    background-color: #fff;
    line-height: 21px;
    padding: 0 34px;
    border-left: 1px solid #d4d4d4;
}
.login{
    line-height: 21px;
    font-size: 18px;
    color:#fff;
    background-color: #5671F6;
    border: none;
    padding: 0 50px;
}
.line{
    height: 100%;
    width: 1px;
    background-color: #d4d4d4;
    margin-left: 34px;
}
/* HEADER */

/* MAIN */
.film{
    padding: 80px 0;
    border-bottom: 1px solid #d4d4d4;
}
.container{
    max-width: 1130px;
    margin:auto;
}
.film-wrapper{
    display: flex;
}
.film-trailer{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.poster{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 358px;
}
.trailer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border:1px solid #d4d4d4;
    border-radius: 0 0 5px 5px;
    padding: 25px 0;
    cursor: pointer;
}
.trailer-button-icon{
    margin-right: 14px;
}
.trailer-button-text{
    color: #5671F6;
}
.film-title{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}
.film-subtitle{
    display: block;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}
.film-description{
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 150%;
    max-width: 514px;
    color:#000;
}
.about-film{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 516px;
    margin-bottom: 50px;
}
.about-text{
    display: flex;
    flex-direction: row;
}
.about-text-bold{
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
    width: 100px;
    color: #363636;
}
.about-text-regular{
    font-weight: normal;
    font-size: 16px;
    color: #363636;
}
.about-text{
    margin-bottom: 16px;
}

.rating{
    display: flex;
    align-items: center;
}
.rating-counter{
    padding:34px 24px 33px 23px;
    border: 1px solid #5671F6;
    color: #5671F6;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
    margin-right: 28px;
}
.rating-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
line-height: 21px;
}
.rating-text{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
}
.rating-text:not(:last-child){
    margin-bottom: 7px;
}
.rating-text-bold{
font-weight: bold;
}

/* SECTION CAST */
.cast{
    padding-top: 70px;
    padding-bottom: 100px;
}
.tabs{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.section-title{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}

.section-title.active{
    color: #363636;
    font-weight: 900;
}
.tab{
    cursor: pointer;
}
.tabs-content{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    visibility: hidden;
}
.tabs-content.visible{
    display: flex;
    visibility: visible;
}
.card{
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}
.card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.name{
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
}
.en-name{
    color:#A5A5A5
}
/* SECTION CAST */


/* SECTION NEWS */
.news{
    background-color: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 100px;
}
.news-title{
    margin-bottom: 65px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color:#000;
}
.news-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-item{
    flex-basis: 23%;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    height: 160px;
}
.news-date-item{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color:#000;
}
.news-title-item{
    margin-top: 14px;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
}



/* mobile-menu-button */
.mobile-buttons{
    display: none;
}
.mobile-menu-btn, .mobile-search-button{
    padding: 5px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.menu-line{
    display: block;
    height: 2px;
    border-radius: 40px;
    width: 16px;
    background-color: #000;
    margin-top: 3px;
    margin-bottom: 3px;
}
.btn-next{
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;  
    right: 0;
    top: 41%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
}

    

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .card-image{
        width: 70px;
        height: 70px;
    }
    .navigation-link{
        margin-right: 10px;
        font-size: 16px;
    }
    .header{
        height: 90px;
        padding-left: 20px;
    }
    .sign-up{
        padding: 0 20px;
    }
    .navigation{
        margin-right: 20px;
    }
    .search-input{
        margin-left: 20px;
    }
    .line{
        margin-left: 20px;
    }
}
@media (max-width: 991px){
    .container{
        max-width: 760px;
    }
    .login{
        padding: 0 25px;
    }
    .navigation{
        display: none;
    }
    .search-input{
        margin-right: auto;
    }
    .film-title{
        font-size: 24px;
        line-height: 1.4;
    }
    .film-subtitle{
        margin-bottom: 20px;
    }
    .film-description, .about-film{
        margin-bottom: 30px;
    }
    .about-text{
        flex-direction: column;
    }
    .about-text-bold{
        margin-bottom: 10px;
    }
    .card-image{
        width: 100px;
        height: 100px;
    }
    .card{
        flex-basis: 50%;
    }
    .news-item{
        flex-basis: 48%;
        margin-bottom: 20px;
    }

}

@media (max-width: 768px){
    .container{
        max-width: 560px;
    }
    .header{
        height: 80px;
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
   
    .film{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .film-wrapper{
        flex-wrap: wrap;
    }
    .film-text{
        order: -1;
        margin-bottom: 30px;
    }
    .cast,
    .news{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .mobile-buttons{
        display: block;
        margin-left: auto;
    }
    .line{
        display: none;
    }
    .mobile-menu.active{
        display: flex;
    }
    .mobile-menu{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 79px;
        background-color: #5671F6;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .navigation-link{
        color:#fff;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .navigation-link:last-child{
        margin-bottom: 0;
    }
    .button-group{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .search-input{
        width: 260px;
        height: 50px;
        border-radius: 5px;
        border:none;
        background-image: none;
        margin-right: 0;
    }
    .sign-up{
        color: #fff;
        background-color: transparent;
        border: none;
        margin-bottom: 30px;
    }
    .news-item{
        max-width: 90%;
    }
    .btn-next{
        display: block;
    }
}

@media (max-width: 576px){
    .container{
        width: 95%;
    }   
    .search-input:focus{
        width: auto;
    }
    .film-text{
        order: 0;
        margin-bottom: 0;
    }
    .film-trailer{
        margin-bottom: 30px;
    }
    .film-trailer, .poster{
        width: 100%;
    }
    .film-title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }
    .film-subtitle{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .film-description{
        font-size: 14px;
        line-height: 150%;
        margin-top: 26px;
        margin-bottom: 40px;
    }
    .about-film{
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .about-text{
        flex-direction: row;
    }
    .card{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .card-image{
        width: 60px;
        height: 60px;
    }
    .tabs{
        margin-bottom: 45px;
    }
    .cast{
        padding-bottom: 50px;
    }
    .news-item{
        flex-basis:100%;
    }
}